.App {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 300px;
}

.box {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  transition: background-color 0.3s;
  color: black;
}

.box.active {
  color: white;
}

.box.red {
  background-color: lightcoral;
}

.box.green {
  background-color: lightgreen;
}

.box.pink {
  background-color: lightpink;
}

.box.yellow {
  background-color: lightyellow;
}

.box.purple {
  background-color: plum;
}

.box.white {
  background-color: white;
  border: 2px solid #ccc;
}

.box.blue {
  background-color: lightskyblue;
}

.box.aqua {
  background-color: lightcyan;
}

.box.olive {
  background-color: olivedrab;
}

.result {
  margin-bottom: 20px;
  font-weight: bold;
}